.menuNav { 
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
    
}

.imageMenu {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.footerSpace {
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.sCartCounter {
    color: #8068b1 !important;
}